.homepage {
  margin: 0.75rem 1.75rem;
}

.homepage__right-content,
.homepage__left-content {
  text-align: center;
}

.homepage__image {
  margin-top: 1rem;
  width: 70%;
}

.homepage__title {
  font-size: 18pt;
  letter-spacing: 1px;
}

.homepage__subtitle {
  margin: 0.75rem 0;
}

/* SCREEN LARGE OR DESKTOP */
@media screen and (min-width: 850px) {
  .homepage {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .homepage__body {
    display: flex;
    flex-direction: row-reverse;
  }

  .homepage__image {
    width: 100%;
  }

  .homepage__left-content {
    padding: 75px;
    max-width: 700px;
    display: grid;
    align-content: center;
    text-align: left;
  }
}
